*{
    margin: 0;
}

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Estilo Menú*/
header{
    width: 100%;
    background: orange;
    display: grid;
    grid-template-rows: 1;

    z-index: 999;
    position: fixed;
}

div.sub-header{
    display: grid;
    grid-template-columns: 70% 30%;

    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

header img{
    width: 30px;
    height: 30px;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-left: 1px solid white;
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu li{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.menu li:hover{
    background: rgba(0,0,0,0.3);
}

.menu li a.presente{
    text-decoration: 2px underline;
}

div.título1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: left;

    padding: 12px;
    font-size: 20px;
}

@media (max-width:768px) {

    div.sub-header{
    width: 100%;

    display: grid;
    grid-template-columns: 15% 85%;
    }

    header label {
        display: block;
    }

    .menu{
        position: absolute;
        background: orange;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li{
        border-top: 1px solid white;
    }

    #btn-menu:checked ~ .menu {
        margin: 0;
    }
}

/*Finaliza Estilo Menú*/


/*Inicia Contenido Total*/

/*sección1*/

.sección1{
    padding-top: 60px;
}

.sección1 img{
    margin: 0 auto;
    display: block;
}

/*sección2*/
.sección2{
    max-width: 920px;
    margin: 0 auto;
}

.sección2 p{
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 2em;
    text-align: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*sección3*/
h1.título3{
    text-align: center;
    margin-bottom: 30px;
}

.sección3{
    max-width: 920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

.planes{
    margin: 20px;
    margin-bottom: 60px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-right: 30px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    box-shadow: black 0.1em 0.2em 0.4em;;
}

.planes:hover{
    transform: translateY(-20px);
}

.planes h2{
    color: orange;
    margin-bottom: 30px;
}

.planes li{
    margin-top: 40px;
    line-height: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Llamada a la acción*/
.llamada-acción{
    background: orange;
}

.sub-llamada-acción{
    max-width: 920px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;
}

.sub-llamada-acción h1{
    margin-bottom: 40px;
}

.sub-llamada-acción p{
    font-size: 20px;
    margin-bottom: 40px;
}

.sub-llamada-acción a{
    background: white;
    padding: 10px;
    border-radius: 8px;
    color: orange;
    font-size: 20px;
}

.sub-llamada-acción a:hover{
    color: orangered;
    background: rgb(212, 212, 212);
}

/*Finaliza Contenido Total*/

/*INICIA FOOTER*/

footer{
    display: block;
    justify-content: center;
    text-align: center;

    margin-top: 40px;
    margin-bottom: 40px;
}
.social a img{
    width: 40px;
    margin: 5px;
}

.contenedor{
    margin-top: 15px;
}

/*FINALIZA FOOTER*/


/*Diseño Responsive Para Móvil*/

@media (max-width:768px) {
    .sección1 img{
        width: 300px;
    }

    .sección2 p{
        margin: 40px;
    }

    .sección3{
        display: grid;
        grid-template-columns: 100%;
    }

}

/*Diseño Responsive Para Tablets*/

@media screen and (min-width:769px) and (max-width: 865px) {
    div.sub-header{
        display: grid;
        grid-template-columns: 70% 30%;
    
        width: 100%;
        max-width: 800px;
        margin: 0;
    }

    .sección1 img{
        margin: 0 auto;
        display: block;
        width: 720px;
    }
}